---
title: Being Consistent
ref: 
---

You don't live for eternity; you live for today. Be a steward for the future
you--set them up for success, not failure. Consistency comes when you honor
today's choices as a gift to tomorrow's life.

[Read more](./notes/consistency-future-self-custodian.svx)